html {
  position: relative;
  min-height: 100%;
}
body {
  color: #333333;
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
}

hr { margin-top: 5px }

.hint {
    color: grey;
    font-style: italic;
}

.formDataConsent { padding: 1em 0 2em 0 }

/* ######### Flash messages ######### */
.success {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #5cb85c;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.info {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #337ab7;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.warning {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f0ad4e;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.error {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #d9534f;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.required {
    font-size: 1.05em;
    color: #c10000;
    padding: 0.5em 0 0.5em 0;
}

/* ######### Entries table ######### */
.delete-row-icon {
    font-size: 1.15em !important;
    color: grey;
}
.delete-row-icon.enabled {
    color: #d9534f;
    cursor: pointer;
}
.undo-delete-row {
    font-weight: bold !important;
    color: #5cb85c;
    cursor: pointer;
}
.deleted-row {
    background-color: #FAAFBE;
    text-decoration: line-through;
    cursor: auto;
}
.entryCellHighlighter td:not(.deleted-row):not(:nth-child(-n+2)):not(.cellEditionMode):hover {
    background-color: #ffffcc;
    cursor: pointer;
}
.cellEditionMode {
    cursor: auto;
}
.saveCellEdition {
    font-size: 1.25em !important;
    color: #5cb85c;
    cursor: pointer;
    padding-left: 0.27em;
}
.cancelCellEdition {
    font-size: 1.25em !important;
    color: #d9534f;
    cursor: pointer;
    padding-left: 0.27em;
}
/* ######### formBuilder fixes ######### */
input[type="date"], input[type="number"] {
    width: auto !important;
}
.required-asterisk {
  visibility: hidden;
}
.required-asterisk:after {
  content: '●';
  visibility: visible;
}
.fb-required {
  visibility: hidden;
}
.fb-required:after {
  content: '●';
  visibility: visible;
}
