<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ g.site.siteName }}</title>
  <link rel="shortcut icon" type="image/png" href="{{g.site.faviconURL()}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/jquery/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages and request.path != '/login' %}
        {% for category, message in messages %}
            <div class="flash_message {{ category }}" style="text-align:center;">{{ message | safe }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% if g.current_user %}
<!-- menu -->
<div class="container" style="font-size:1.3em;">
    <div class="row col-md-12">
        <a href="/">{%trans%}Start{%endtrans%}</a> | 

        {% if g.current_user and g.current_user.enabled %}
            {% if g.current_user.admin %}
                <a href="/admin/forms">{%trans%}Forms{%endtrans%}</a> | 
                <a href="/admin/users">{%trans%}Users{%endtrans%}</a> | 
            {% endif %}
            <a href="/forms">{%trans%}My forms{%endtrans%}</a> |
        {% endif %}
        
        <a href="/user/{{ g.current_user.username }}">{%trans%}Settings{%endtrans%}</a> | 
        <a href="/site/logout">{%trans%}Logout{%endtrans%}</a>
    </div>
</div>
{% endif %}

<div style="margin-top:2em"></div>
{% block content %}{% endblock %}

<p>&nbsp;</p>
<div class="footer" style="text-align:right">
    GNGforms. AGPLv3
    <a href="https://gitlab.com/lleialtec/gngforms">{%trans%}Source code{%endtrans%}</a>
    &nbsp;
</div>

</body>
</html>
