{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-builder.min.js"></script>
<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

<div class="container">
    <div class="row col-md-12">
        <div style="font-size:1.3em">
        {% if session['form_id'] %}
            1. {%trans%}Edit form{%endtrans%} {{ session['slug'] }}
        {% else %}
            1. {%trans%}Build your form here{%endtrans%}
        {% endif %}
        </div>
        <hr />
        <div id="fb-editor"></div>
    </div>
    
    <div class="row col-md-8">
        <p>&nbsp;</p>

        <form id="result" action="/forms/edit{% if session['form_id'] %}/{{ session['form_id'] }}{% endif %}" method="post" style="padding-bottom:0.5em;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div style="font-size:1.3em">
            {%trans%}2. Say something to the user after the form has been submitted{%endtrans%}
        </div>
        <hr />
        {%trans%}This is a markdown editor, an easy way to write HTML.{%endtrans%}
        <a href="https://www.markdownguide.org/basic-syntax" target="_blank">{%trans%}Learn more{%endtrans%}</a>
        
        <textarea id="sm-editor" name="afterSubmitTextMD">{{ session['afterSubmitTextMD'] }}</textarea>
        <p></p>
        <div style="font-size:1.3em">
            {%trans%}3. Your form will have this address{%endtrans%}
        </div>
        <hr />
        
        <input type="hidden" id="structure" name="structure" />
        {{ host_url }}
        <input id="slug" name="slug" value="{{ session['slug'] }}" size="32" {% if session['form_id'] %}disabled{% else %}required{% endif %} />
        <input id="slug_not_available"  style="display:none"
                                        class="slug-alert btn btn-danger"
                                        type="button"
                                        value="{%trans%}This URL is not available. Try another!{%endtrans%}"
                                        />

        <input id="slug_changed" style="display:none" class="slug-alert btn btn-success" type="submit" value="{%trans%}OK, use this URL{%endtrans%}" />
        <br />
        <p>&nbsp;</p>
        
        <input class="btn-success btn" type="submit" value="{%trans%}Preview{%endtrans%}" />
        {% if session['form_id'] %}
            <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/forms/view/{{ session['form_id'] }}'">
        {% else %}
            <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/forms'">
        {% endif %}
        
        </form>
    </div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
jQuery(function($) {
    var simplemde = new SimpleMDE({ 
                                autosave: {enabled: false},
                                autofocus: false,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#sm-editor")[0]
                             });

    const fbEditor = document.getElementById("fb-editor");
    var disabledAttrs = {{ config['FORMBUILDER_DISABLED_ATTRS'] | tojson }};
    disabledAttrs.push("name");
    var options = {
        showActionButtons: false,
        disableFields: {{ config['FORMBUILDER_DISABLE_FIELDS'] | tojson }},
        disabledAttrs: disabledAttrs,
        controlOrder: {{ config['FORMBUILDER_CONTROL_ORDER'] | tojson }},
        i18n: {
            locale: "{{ config['LANGUAGES'][g.current_user.data['language']][1] }}",
            location: "{{host_url}}static/formBuilder-languages/"
        },
        formData: {{ session['formStructure'] | tojson }}
    };
    const formBuilder = $(fbEditor).formBuilder(options);
    
    /*
    formBuilder.promise.then(function(fb) {
        formBuilderFixes(fb.formData);
    });
    */
    
    document.getElementById('result').addEventListener('submit', function(evt){
        evt.preventDefault();
        if ( {{ session['form_id'] | tojson }} == null ){
            $.ajax({
                url : "/forms/check-slug-availability/"+$('#slug').val(),
                type: "POST",
                data : $('#slug').val(),
                dataType: "json",
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                },
                success: function(data, textStatus, jqXHR)
                {
                    if (data.available == true) {
                        if (data.slug == $('#slug').val()) {
                            $('#structure').val(formBuilder.actions.getData('json', true));
                            $('#result').submit();
                        }else{
                            $('#slug').val(data.slug);
                            $('#slug_changed').show();
                        }
                    } else {
                        $('#slug').val(data.slug);
                        $('#slug_not_available').show()
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
             
                }
            });
        }else{
            $('#structure').val(formBuilder.actions.getData('json', true));
            simplemde.toTextArea();
            $('#result').submit();
        }
    });
    document.getElementById('slug').addEventListener('click', function(evt){
        $('.slug-alert').hide(); 
    });
    document.getElementById('slug_not_available').addEventListener('click', function(evt){
        $('#slug').val('');
        $('#slug').focus();
        $('.slug-alert').hide(); 
    });
});
function formBuilderFixes(renderedData){
    //console.log(renderedData);
    return

    // Populate Max and Min fields.
    //var max = $("#fb-editor").find(".field-{{field}}-preview").parent().find("input.fld-max[type=number]");
}
</script>
  
{% endblock %}
