{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-6" style="font-size:1.5em">
        <input class="btn-primary btn btn-sm" type="button" value="{%trans%}Return to form{%endtrans%}" onClick="location.href='/forms/view/{{ form._id }}'">
        {{ form.slug }}
        <hr style="margin-bottom:5px" />
    </div>
    <div class="row col-md-3"></div>
</div>

<div class="container">
<div class="row col-md-3"></div>

<div class="row col-md-6">
    <div id="toggle_notification" class="btn-group btn-toggle">
        <button id="notification_true" class="btn btn-xs btn-default {% if form.data.editors[g.current_user._id|string]['notification']['expiredForm'] %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
        <button id="notification_false" class="btn btn-xs btn-default {% if not form.data.editors[g.current_user._id|string]['notification']['expiredForm'] %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
    </div>
    {%trans%}Notify me when this form expires{%endtrans%}
    <p>&nbsp;</p>

    <div style="font-size:1.5em">
        {%trans%}Expiration conditions{%endtrans%}
    </div>
    <p>&nbsp;</p>
    
    <div style="font-size:1.25em">
        {%trans%}Date / Time{%endtrans%}
    </div>
    <br />
    
    <style>
    #date_time > input {display: inline; vertical-align: top;}
    </style>
    <form id="date_time" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input id="date" name="date" type="date" class="form-control" onchange="js:dateSet(event);">
        &nbsp;
        <input id="time" name="time" type="time" class="form-control" style="width:auto">
        &nbsp;
        <input id="date-button" class="btn" type="submit" value="{%trans%}Save changes{%endtrans%}">
    </form>
        
        <p>&nbsp;</p>
        
        {% if form.getAvailableNumberTypeFields() %}
        <div style="font-size:1.25em">
            {%trans%}Conditionals{%endtrans%}
        </div>
          
        <br />
        <table class="table table-condensed">   
        {% for field_name, values in form.getAvailableNumberTypeFields().items() %}
            <tr>
                <td>
                {{ form.getFieldLabel(field_name)|safe }}
                </td>
                <td>
                {% if values.type=="number" %}
                <input id="{{field_name}}" class="condition form-control" style="height:28px" type="number" value="{{values.condition|safe}}" />
                {% endif %}
                </td>
                <td class="text-right">
                {% if values.type=="number" %}
                    <input id="button-{{field_name}}" type="button" class="{%if values.condition %}btn-success{% else %}btn-primary{% endif %} btn btn-xs" value="{%trans%}Save max.{%endtrans%}" onClick="js:setMaxValue('{{field_name}}');">
                {% endif %}
                </td>
            </tr>
        {%endfor %}
        </table>  
        {% endif %}
        
</div>
<div class="row col-md-3"></div>    
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
function dateSet(e){
    if ($('#time').val() == ""){
        $('#time').val("00:00")
    }
}
function setMaxValue(id){
    var value=$('#'+id).val();
    $.ajax({
        url : "/forms/set-field-condition/{{ form._id }}",
        type: "POST",
        dataType: "json",
        data: {"field_name": id, "condition": value},
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.condition != false && data.condition == value) {
                $('#button-'+id).removeClass('btn-primary');
                $('#button-'+id).removeClass('btn-warning');
                $('#button-'+id).addClass('btn-success');
            }
            else{
                $('#button-'+id).removeClass('btn-success');
                $('#button-'+id).removeClass('btn-warning');
                $('#button-'+id).addClass('btn-primary');
                $('#'+id).val(null)
            }
        }
    });
}
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-expiration-notification/{{ form._id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-success');
                $('#notification_false').removeClass('btn-primary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-success');
                $('#notification_false').addClass('btn-primary');
            }
        }
    });
});
$(document).on("change", "#date", function () {
    $('#date-button').removeClass('btn-success', 'btn-primary');
    $('#date-button').addClass('btn-warning');
});
$(document).on("change", "#time", function () {
    $('#date-button').removeClass('btn-success', 'btn-primary');
    $('#date-button').addClass('btn-warning');
});
$(document).on("keyup", ".condition", function () {
    $('#button-'+this.id).removeClass('btn-success', 'btn-primary');
    $('#button-'+this.id).addClass('btn-warning');
});
$(document).on("change", ".condition", function () {
    $('#button-'+this.id).removeClass('btn-success', 'btn-primary');
    $('#button-'+this.id).addClass('btn-warning');
});
jQuery(function($) {
    var savedDate={{form.data['expiryConditions']['expireDate']|tojson}};
    if (savedDate != null){
        fields=savedDate.split(' '); 
        $('#date').val(fields[0]);
        $('#time').val(fields[1].slice(0, 5));    // remove seconds for type="time"
        $('#date-button').addClass('btn-success');
    }else{ 
        $('#date-button').addClass('btn-primary');
    }
});
</script>
  
{% endblock %}
