{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-6">

    <div style="font-size:1.5em">
        {%trans%}Form templates{%endtrans%}
        <hr />
    </div>

    <div style="font-size:1.1em">
    {%trans%}We've put together some forms you can use to get started.{%endtrans%}
    <br />
    {%trans%}Choose the template that best suits your needs and edit it to fit.{%endtrans%}
    </div>
    <p>&nbsp;</p>
    
    {% for template in templates %}
        <a style="font-size:1.15em" href="#{{template.id}}">{{template.name}}</a>
        <br />
        {{template.description}}
        <br />
        <br />
    {% endfor %}
    <hr />
    {% for template in templates %}
        <a name="{{template.id}}"></a>
        <div id="fb-render-{{loop.index}}"></div>
        <br />
        <input class="btn-success btn" type="button" value="{%trans%}Use this template{%endtrans%}" onClick="location.href='/forms/new/{{ template.id }}'">
        <p>&nbsp;</p>
        <hr />
    {% endfor %}
    
    </div>
    <div class="row col-md-3"></div>
</div>




<script>
{% for template in templates %}
    jQuery(function($) {
        var fbRender = document.getElementById('fb-render-{{loop.index}}');
        var formData = {{ template.structure | tojson }};
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };
        $(fbRender).formRender(formRenderOpts);
    });
{% endfor %}
</script>


{% endblock %}
