{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-4"></div>
    
<div class="row col-md-4">

    <div style="font-size:1.5em">{%trans%}Recover password{%endtrans%}</div>
    <hr />
    
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label>{%trans%}Your email{%endtrans%}</label>
        <br />
        <input type="text" name="email"  class="form-control" required ><br />
        <p></p>
        <input class="btn-success btn" type="submit" value="{%trans%}Recover{%endtrans%}">
        <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/'">
    </form>

</div>

<div class="row col-md-4"></div>    
</div>
 
{% endblock %}
