{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-7" style="font-size:1.5em">
        <input class="btn-primary btn btn-sm" type="button" value="{%trans%}Return to form{%endtrans%}" onClick="location.href='/forms/view/{{ form._id }}'">
        {{ form.slug }}
        <hr />
    </div>
    <div class="row col-md-2"></div>
</div>

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-9">

        <div style="font-size:1.5em;">
            {%trans%}Share results{%endtrans%}
        </div>
        {%trans%}Share a readonly link with interested parties{%endtrans%}
        <div style="padding-top:0.7em">
            <span id="toggle_sharedEntries" class="btn-group btn-toggle">
                <button id="sharedEntries_true" class="btn btn-xs btn-default {% if form.areEntriesShared() %}btn-success{% endif %}">{%trans%}Enabled{%endtrans%}</button>
                <button id="sharedEntries_false" class="btn btn-xs btn-default {% if not form.areEntriesShared() %}btn-primary{% endif %}">{%trans%}Disabled{%endtrans%}</button>
            </span>
            <a id="enabled_link" href="{{ form.getSharedEntriesURL() }}" {%if not form.areEntriesShared()%}style="display:None"{%endif%}>{{ form.getSharedEntriesURL() }}</a>
            <span id="disabled_link" style="text-decoration:line-through; {%if form.areEntriesShared()%}display:None{%endif%}" >{{ form.getSharedEntriesURL() }}</span>
        </div>
    </div>
</div>

<div class="container" style="padding-top:2em;">
    <div class="row col-md-3"></div>
    <div class="row col-md-9">

        <div style="font-size:1.5em;">
            {%trans%}Restricted access{%endtrans%}
        </div>
        {%trans%}Only visible to people with a user account (login required){%endtrans%}
        <div style="padding-top:0.7em">
            <span id="toggle_restrictedAccess" class="btn-group btn-toggle">
                <button id="restrictedAccess_true" class="btn btn-xs btn-default {% if form.data.restrictedAccess %}btn-success{% endif %}">{%trans%}Restricted{%endtrans%}</button>
                <button id="restrictedAccess_false" class="btn btn-xs btn-default {% if not form.data.restrictedAccess %}btn-primary{% endif %}">{%trans%}Public form{%endtrans%}</button>
            </span>
        </div>
    </div>
</div>

<div class="container" style="padding-top:2em;">
    <div class="row col-md-3"></div>
    <div class="row col-md-5">

        <div style="font-size:1.5em;">
            {%trans%}Editors{%endtrans%}
        </div>
        <div>
            {%trans%}Users listed here have the <b>same permissions</b> as you{%endtrans%}
        </div>

        <p style="padding-top:1.2em;"></p>
        
        <table class="table table-condensed">
        {% for editor in editors %}
            <tr id="editor_{{editor._id}}">
                <td>
                    {{ editor.email }}
                </td>
                <td class="text-right">
                {% if editor._id|string == form.author %}
                    ({%trans%}Author{%endtrans%})
                {% else %}
                    <input class="btn btn-xs btn-danger" type="button" value="{%trans%}Remove{%endtrans%}" onClick="js:removeEditor('{{editor._id}}');">
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
        <form action="/forms/add-editor/{{form._id}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <td>
            <input name="email" type="text" placeholder="New editor's email" class="form-control" required >
        </td>
        <td class="text-right">
            <input class="btn-primary btn btn-md" type="submit" value="{%trans%}Add{%endtrans%}" >
        </td>
        </form>
        </tr>
        </table>

    </div>
    <div class="row col-md-4"></div>
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
function removeEditor(editor_id){
    $.ajax({
        url : "/forms/remove-editor/{{form._id}}/"+editor_id,
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data == editor_id) {
                $('#editor_'+editor_id).hide();
            }
        }
    });
}
document.getElementById('toggle_sharedEntries').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-shared-entries/{{ form._id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#sharedEntries_true').addClass('btn-success');
                $('#sharedEntries_false').removeClass('btn-primary');
                $('#enabled_link').show()
                $('#disabled_link').hide()
            }
            else if (data.enabled == false) {
                $('#sharedEntries_true').removeClass('btn-success');
                $('#sharedEntries_false').addClass('btn-primary');
                $('#enabled_link').hide()
                $('#disabled_link').show()
            }
        }
    });
});

document.getElementById('toggle_restrictedAccess').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-restricted-access/{{ form._id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.restricted == true) {
                $('#restrictedAccess_true').addClass('btn-success');
                $('#restrictedAccess_false').removeClass('btn-primary');
            }
            else if (data.restricted == false) {
                $('#restrictedAccess_true').removeClass('btn-success');
                $('#restrictedAccess_false').addClass('btn-primary');
            }
        }
    });
});
</script>
  
{% endblock %}
