{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-6">
        {{ form.afterSubmitText['html'] | safe }}
    </div>
    <div class="row col-md-3"></div>
</div>

{% endblock %}
