{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">
    <div class="row col-md-11" style="font-size:1.5em">
    {{ form.slug }}
    </div>
    <div class="row col-md-1">
    <input class="btn-success btn" type="button" value="{%trans%}Download CSV{%endtrans%}" onClick="location.href='{{ form.getSharedEntriesURL('csv') }}'">
    </div>
</div>


<div class="container">
    <hr />

    <table id="formEntries" style="display:none" class="table table-striped table-condensed">
    <thead>
        <tr>
        {% for field in fieldIndex %}
            <th>{{ field['label'] }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for entry in form.entries %}
        <tr>
        {% for field in fieldIndex  %}
            <td class="{{ fieldName }}" style="border-right: 1px solid #ccc;">{{ entry[field['name']] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>

<script>
$(document).ready(function() {
    $('#formEntries').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#formEntries").show();
        },
        "order": [[0, 'desc']],
    });
});
</script>
  
{% endblock %}
