{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-6">
        <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div id="fb-render"></div>
        {% if form.isDataConsentEnabled() %}
            <div class="formDataConsent">
                {{ form.dataConsent|safe }}
                {%trans%}I agree{%endtrans%}
                <input type="checkbox" style="position:relative; top:3px;" name="DPL" value="ok" required />
            </div>
        {% endif %}
        <input class="btn-success btn" type="submit" value="{%trans%}Send{%endtrans%}">
        </form>
    </div>
    <div class="row col-md-3"></div>
</div>



<script>
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | tojson }};
    var formRenderOpts = {
        formData,
        dataType: 'json',
        notify: {
            success: function(message) {
                setLimits();
                addRequiredMsg();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});
function setLimits(){
    {% for field, values in form.fieldConditions.items() %}
        {% if values["type"] == "number" %}
            {% set available = values["condition"] - form.tallyNumberField(field) %}
            if ($("#{{field}}").prop("max") && $("#{{field}}").prop("max") > {{available}}){
                    var hint=$("<div style='margin-top:-5px' class='hint'></div>")
                    hint.text("{{ gettext('Note: Maximum is now %(max)s', max=available) }}");
                    hint.insertBefore("#{{field}}");
                    $("#{{field}}").prop("max", {{available}});
            }
            if (! $("#{{field}}").prop("max")){
                $("#{{field}}").prop("max", {{available}});
            }
        {% endif %}
    {% endfor %}
    return;
}
function addRequiredMsg(){
    if ($('#fb-render').find("span.fb-required").length) {
        var firstGroup = $('#fb-render').find('.form-group').filter(':visible:first');
        if (firstGroup.length) {
            $("<div class='required'>● {%trans%}Required fields{%endtrans%}</div>").insertBefore(firstGroup);
        }
    }    
}
</script>

{% endblock %}
